<div class="progress_bars">
  <ul class="bars_list hover">
    <li *ngFor="let skill of skills">
      <h6>{{skill.name}}<span class="label">{{skill.level}}%</span></h6>
      <div class="bar">
        <span class="progress" style="width:{{skill.level}}%"></span>
      </div>
    </li>
  </ul>
</div>

<div class="progress_bars">
  <ul class="bars_list hover">
    <li *ngFor="let skill of softSkills">
      <h6>{{skill.name}}<span class="label">{{skill.level}}%</span></h6>
      <div class="bar">
        <span class="progress" style="width:{{skill.level}}%"></span>
      </div>
    </li>
  </ul>
</div>